# Ignore virtual environments
venv/
.env

# Ignore Python cache and temporary files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore SQLite databases
*.db

# Ignore Streamlit temporary folders
.streamlit/
logs/
.cache/

# Ignore any OS or editor files
.DS_Store
Thumbs.db
*.log
